<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/logo.jpg">
    <title>Under Armour 安德玛</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="swiper-4.2.6/dist/css/swiper.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/fonts/glyphicons-halflings-regular.ttf">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/list.css">
</head>
<body class="home" id="list">

<!------left--->
       <div class="left fl clearfix">
<!-------list------->
       <div class="list">
          <!-------header------->
           <header><img src="img/logo-sidemenu.png" alt=""></header>
           <!-------header------->
           <!-------left nav------->
           <nav>
                <ul class="nav-pills">
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">新品推荐<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            新品推荐
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">男子新品推荐<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">女子新品推荐<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">少年新品推荐<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">所有新品推荐<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                        
                        
                        
                        
                        
                    </li>
                    
                    
                    
                    
                    
                    
                    
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">热卖商品<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            热卖商品
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">男子热卖商品<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">女子热卖商品<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">少年热卖商品<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">所有热卖商品<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                        
                        
                        
                        
                        
                    </li>
                    
                    
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">男子装备<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            男子装备
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">男子主页<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">推荐系列<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">上装<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">下装<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">鞋类<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">配件<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">运动<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">购买所有男子装备<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                        
                    </li>
                    
                    
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">女子装备<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            女子装备
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">女子主页<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">推荐系列<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">上装<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">下装<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">鞋类<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">配件<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">运动<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">购买所有女子装备<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                        
                    </li>
                    
                    
                    
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">少年装备<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            少年装备
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">少年主页<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">推荐系列<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">男童装备<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">女童装备<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">运动<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">购买所有男童装备<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">购买所有女童装备<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                     
                    </li>
                    
                    
                    
                    
                    <li class="clearfix">
                        
                        
                        <a href="#" class="a1">品牌故事<i class="fa fa-angle-right"></i></a>
                        
                        
                        
                        <div class="sub-menu">
                        <div class="block-xs">
                            <i class="fa fa-angle-left"></i>
                            品牌故事
                        </div>
                        
                        
                        
                        <ul class="sub-menu-ul">
                            <li>
                                <a href="list.html">关于品牌<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">运动明星<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="list.html">UA博客<i class="fa fa-angle-right"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                    
                        
                        
                        
                        
                        
                    </li>
                    
                </ul>
                
                
                
                
                <div class="m-menu-contact">
                    <ul>
                        <li>
                            <div class="login-state clearfix">
                                <i class="fa fa-user fl"></i>
                                <p class="fl">
                                    <a href="">登录 </a>
                                    <span>  |  </span>
                                    <a href=""> 注册</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="m-menu-contact">
                    <ul>
                        <li>
                            <div class="login-state clearfix">
                                <i class="fa fa-phone fl"></i>
                                <p class="fl">
                                    <a href="">400-021-8989</a>
                                </p>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="m-menu-contact">
                    <ul>
                        <li>
                            <div class="login-state clearfix">
                                <i class="fa fa-commenting fl"></i>
                                <p class="fl">
                                    <a href="">在线客服</a>
                                </p>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="m-menu-contact">
                    <ul>
                        <li>
                            <div class="login-state clearfix">
                                <i class="glyphicon glyphicon-map-marker fl"></i>
                                <p class="fl">
                                    <a href="">线下门店</a>
                                </p>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
           </nav>
           <!-------left nav------->
           
           <!-------left footer------->
           <footer></footer>
           <!-------left footer------->
       </div>
       <!-------left list------->
   </div>
   <!------left--->
   <!------right--->
    <div class="right fl" id="right">
     
     
      <!------right mask--->
       <div class="mask"></div>
       <!------right mask--->
       <div class="ss">
           <div class="s clearfix">
              <div class="h4">
                  <i class="fa fa-search"></i>
                   <input type="text" maxlength="20" placeholder="搜索" class="fl">
                   <span class="fl" id="qx">取消</span>
              </div>
           </div>
       </div>
       
       <!------right header--->
        <header class="clearfix">
           
            <div class="m-menu-icon fl"><i class="fa fa-align-justify"></i></div>
            <ul class="clearfix fl">
                <li class="fl"><i class="fa fa-search" id="i1"></i></li>
                <li class="fl"><a href="home.html" style="width:100%;height:100%;"><img src="img/logo.jpg" alt=""></a></li>
                <li class="fl"><a href="me.html"><i class="glyphicon glyphicon-user"></i></a></li>
                <li class="fl"><a href="shop.html"><i class="glyphicon glyphicon-shopping-cart"></i></a><div class="shop">0</div></li>
            </ul>
        </header>
        <!------right header--->
        
        
        <!--right main-->
        <div class="main" id="fenlei">
            <div class="fenlei1 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">男子新品推荐</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei2 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">女子新品推荐</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items1">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei3 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">少年新品推荐</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items2">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei4 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">所有新品推荐</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items3">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei5 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">男子热卖商品</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items4">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei6 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">女子热卖商品</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items5">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei7 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">少年热卖商品</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items6">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei8 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">所有热卖商品</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items7">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei9 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">男子主页</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items8">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei10 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">推荐系列</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items9">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei11 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">上装</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items10">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei12 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">下装</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items11">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei13 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">鞋类</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items12">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei14 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">配件</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items13">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei15 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">运动</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items14">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei16 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">购买所有男子装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items15">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei17 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">女子主页</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items16">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei18 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">推荐系列</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items17">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei19 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">上装</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items18">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei20 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">下装</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items19">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei21 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">鞋类</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items20">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei22 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">配件</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items21">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei23 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">运动</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items22">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei24 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">购买所有女子装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items23">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei24 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">少年主页</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items23">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei25 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">推荐系列</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items24">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei26 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">男童装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items25">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei27 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">女童装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items26">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei28 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">运动</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items27">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei29 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">购买所有男童装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items28">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei31 clearfix" id="fel">
                <div class="list">
                    <h3 class="fl">购买所有女童装备</h3>
                    <span class="fl">共147件</span>
                </div>
                <div class="col-xs-6"  v-for="item in items30">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                </div>    
            </div>
            <div class="fenlei32 clearfix" id="fel fel1">
                 <h3>品牌故事</h3>
                  <img src="img/story-mob-01.jpg" alt="">
                  <img src="img/story-mob-03.jpg" alt="">
            </div>
            <div class="fenlei33 clearfix" id="fel fel1">
                  <h3>运动明星</h3>
                   <img src="img/ym1.jpg" alt="">
                   <img src="img/ym2.jpg" alt="">
                   <img src="img/ym3.jpg" alt="">
                   <img src="img/ym4.jpg" alt="">
            </div>
            <div class="fenlei34 clearfix" id="fel fel1">
                   <h3>UA博客</h3>
                   <img src="img/m1.jpg" alt="">
                   <img src="img/m2.jpg" alt="">
                   <img src="img/m3.jpg" alt="">
                   <img src="img/m4.jpg" alt="">
                   <img src="img/m5.jpg" alt="">
                   <img src="img/m6.jpg" alt="">
                   <img src="img/m7.jpg" alt="">
                   <img src="img/m8.jpg" alt="">
                   <img src="img/m9.jpg" alt="">
            </div>
        </div>
        <!--right main-->  
           
            
            
            
        
        <!------right tuijian--->
        <div class="tuijian" id="tuijian">
            <h3>猜你喜欢</h3>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6"  v-for="item in items">
                    <a href=""><img :src="item.img" alt=""></a>
                    <p>{{item.p}}</p>
                    <span class="hb"><a href="">{{item.span}}</a></span>
                    </div>
                   </div>
            </div>
        </div>
        
        <!------right footer--->
        <footer>
            <div class="f-top">
               <a href=""><i class="fa fa-weibo"></i></a>
                <a href=""><i class="fa fa-weixin"></i></a>
                
            </div>
            <div class="input clearfix">
            <input type="text" placeholder="输入邮箱订阅UA最新电子资讯" class="fl">
            <a href="javascript:void(0)" class="fl"><p>订阅</p></a>
            </div>
            
            
            <div class="f-nav">
                <ul class="clearfix ul">
                    <li class="fl" id="lis">
                        <span>品牌故事</span>
                        
                    </li>
                    <span class="fl span">|</span>
                    <li class="fl" id="lis">
                        <span>客户服务</span>
                    </li>
                    <span class="fl span">|</span>
                    <li class="fl"><i class="glyphicon glyphicon-map-marker"></i></li>
                    <span class="fl span">|</span>
                    <li class="fl"><i class="fa fa-phone"></i></li>
                    <span class="fl span">|</span>
                    <li class="fl"><i class="fa fa-commenting"></i></li>
                </ul>
                <div class="none" id="none">
                            <ul class="clearfix">
                                <li class="fl">关于品牌</li>
                                <span class="fl">|</span>
                                <li class="fl">运动明星</li>
                                <span class="fl">|</span>
                                <li class="fl">UA博客</li>
                                <span class="fl">|</span>
                            </ul>
            </div>
            <div class="none2" id="none">
                            <ul class="clearfix">
                                <li class="fl">尺码说明</li>
                                <span class="fl">|</span>
                                <li class="fl">物流与配送</li>
                                <span class="fl">|</span>
                                <li class="fl">支付说明</li>
                                
                            </ul>
            </div>
            </div>
            
            
            <div class="footer-bottom">
               <div>
                    <p>隐私权保护</p>
                    <sapn>|</sapn>
                    <p>使用规则</p>
               </div>
                <p>沪ICP备12034417号</p>
                <p>Copyright ©2018 Under Armour, Inc.</p>
            </div>
        </footer>
        <!------right footer--->
        
        <div id="top"><i class="fa fa-angle-up"></i></div>
    </div>
    <!------right--->
    <script src="swiper-4.2.6/dist/js/swiper.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/cebianlan.js"></script>
    <script src="js/style.js"></script>
    <script src="js/chucun.js"></script>
    <script>
    var swiper = new Swiper('.right .lunbo', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      }
    });
    </script>
</body>
</html>